* {
    font-family: montserrat, Sans-serif;
}

.background-default{
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:cover;
}
.background-default.redContainer{
    background-color: #BA1E23;
}
.background-default.greyContainer{
    background-color: #F1F1F1;
}

.show-element {
    display: none;
}

.mt-neg-5 {
    margin-top: -5%;
}

.mt-neg-10 {
    margin-top: -10%;
}

.mt-neg-15 {
    margin-top: -15%;
}

.mt-neg-20 {
    margin-top: -20%;
}

.mt-neg-30 {
    margin-top: -30%;
}

.mt-neg-34 {
    margin-top: -34%;
}

.align-vertical-logo {
    vertical-align: -webkit-baseline-middle;
}

.color-red-reformular {
    color: #BA1E23;
}

.navbar-light .navbar-toggler {
    border-style: none;
    border-color: transparent;
}

.navbar-light .navbar-toggler:focus {
    border-style: none;
    border-color: transparent;
}

.navbar-light .navbar-toggler:active {
    border-style: none;
    border-color: transparent;
}

.navbar-light .navbar-toggler:enabled {
    border-style: none;
    border-color: transparent;
}


body {
    padding-top: 84px;
}

.display-block-important {
    display: block !important;
}

.swiper {
    width: 100%;
    /* height: 40% !important; */
}

.swiper-slide img {
    border-style: none;
    border-radius: 0%;
}

.card-servicos {
    border-radius: 8px;
    box-shadow: 0px 4px 2px -1px grey;
}

.iwt {
    display:block;
}

/* BOTAO WPP FLOATING */
.float-element{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.float-element:hover {
    transform: scale(1.05);
    color: white;
}

.my-float{
	margin-top:15px;
}

.col-md-1-odd {
    flex: 0 0 auto;
    width: 13%;
}

.tagA-no-style {
    text-decoration: none;
    color: unset;
}

.tagA-no-style:hover {
    color: rgb(223, 219, 219);
}

.tagA-no-style.red-hover:hover {
    color: #BA1E23;
}

.centralizarObjetoCelular {
    text-align: left !important;
}

.opacity-img-slider {
    opacity: 0.5;
}

.hover-images-swiper .swiper-slide:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hide-on-click-swiper {
    display: none;
}

.background-click-swiper {
    display: none;
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    background-color: #BA1E23;
}

.show-on-click-swiper {
    padding-top: 0px !important;
    display: block;
}

.click-swiper {
    color: white;
    text-decoration: none;
}

.click-swiper:hover {
    color: white;
}

.remove-ptop {
    padding-top: 0px !important;
}

@media (max-width: 765px) {
    .centralizarObjetoCelular {
        text-align: center !important;
    }
    .background-click-swiper {
        overflow: scroll !important; 
        overflow-x: hidden !important;
    }
    .f-size-1-2 {
        font-size: 1em;
    }
    
}

@media (max-width: 443px) {
    .logo-title {
        font-size: 0.7em;
    }
}